@import '_reset.scss';
@import '_colours.scss';
@import '_sizes.scss';
@import '_weights.scss';
@import "_responsive.scss";
@import '_borders.scss';
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/regular.scss";
@import "./fontawesome/brands.scss";

body {
    background: $white;
    color: $darkblue;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: Poppins,sans-serif;
    font-size: 0.9rem;
    font-weight: 500
}

header {
    border-bottom: 1px solid $light-grey;
    align-self: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom:10px;

    img {
        position: absolute;
        margin-top:5px;
    }

    nav {
        ul {
            display: flex;
            justify-content: flex-end;
        }

        li {
            padding: 5px 0;

            a {
                padding: .7rem 1.5rem;
                text-decoration: none;
                color: $darkblue;
                font-weight: $medium-weight;
                border-radius: 100px;
                margin: 0;

                &:hover {
                    background-color: $light-grey
                }

                &:focus {
                    background-color: $darkblue;
                    color: $white;
                }
            }
        }

        button {
            margin-left: 1rem;
            padding: 0.3rem 1rem;
        }
    }
}

footer {
    background: $darkblue;
    color: $white;
    padding-top: 40px;
    padding-bottom: 25px;
}

.content-container {
    width: $width-lge;
    padding-top:10px;
    padding-bottom:10px;

    @media only screen and (max-width: $width-lge) {
        width: $width-mid;
        padding:1rem;
    }
     margin: auto;
  }

// Headings
h3 { line-height: $lh-desktop}
h4 { margin-top:$h4-spacing; margin-bottom:$h4-spacing}

// Alpha warning
#alpha {
    margin-top: $mid;
    margin-bottom: $mid;
    a{
        color:$darkblue
    }

    span {
        border-radius: 100px;
        background: $red;
        color: $dark-red;
        padding: 0.2rem 1rem;
        margin-right:0.5rem;
    }
}

/* Form Controls */
label {
    color:$darkblue;
    font-weight:500;
    line-height:2rem;
}
label::after {
        content: " : "
}
input, button[type=submit] {
    margin-bottom: $mid
}
input, select, input[type=text], input[type=number], button[type=submit], input[type=button], button {
    border: $border-1 $darkblue solid;
    font-size: $mid;
    padding: 0.3rem;
    width: 100%;
}

button[type=submit], input[type=button], button {
    background: $darkblue;
    border: none;
    color: $white;
    padding: 0.3rem 2.5rem;
    width: 100%;
    border-bottom: $border-2 solid $darkblue;
    margin-top: $mid;

    &:hover {
        background: $minty;
        color: $darkblue;
        cursor: pointer;
    }
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    @extend %fa-icon;
    @extend .far;
    width:0px;
}

input[type=checkbox]::before {
   content: fa-content($fa-var-square);
}
input[type=checkbox]:checked::before {
    @extend .fas;
    content: fa-content($fa-var-check-square);
}

.btn-sml {
    font-size: $sml !important
}


/* Grid Layout */
main .gridder {

    .col {
        width: 70%;
    }

    .two-cols {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .headspace{
        margin-top:5rem;
    }

    .col-left {
        justify-self: start
    }

    .col-mid {
        justify-self: center
    }

    .col-right {
        justify-self: end
    }
}
.signed-out {
    h1, h2, h3, h4, p, div {
        margin-bottom: 2rem
    }

    .yellowbg {
        background: $yellow;
        padding: 3rem;
        margin-bottom: 2rem;

        a {
            color: $darkblue;
        }

        h2 {
            width: 60%
        }
    }

    .flexer {
        display: flex;
        align-items: baseline;
        margin-bottom: 0;


        div {
            margin-bottom: 0;
        }

        .buttondiv {
            width: 30%;
            margin-right: 1rem
        }
    }
}

/* Service Availablity*/
#service-availability {
    margin-top:1rem;
    .service {
        display: flex;
        justify-content: space-between;
    }

    .top {
        margin-bottom: 1rem;
    }

    .dayofweek {
        display: flex;
        height:1.8rem;
        font-size:0.8rem;
        align-items:baseline;
    }

    .day {
        flex: 0 0 120px;
        text-transform: uppercase;
        font-weight:900;
    }

    .times {
        flex:1
    }

    .hours {
        display: none;

        span {
            border: 1px solid $darkblue;
            width: 1.8rem;

            input {
                border: none;
                text-align: center;
                font-size: 0.8em;
                padding: 0;
                width: inherit;
                outline: none;
            }
        }
    }


    .switch:checked + .hours {
        display: inline-block;
        margin-left: 2rem
    }
}