html {
  height: 100%; }

body {
  /* Remember to use the other versions for IE 10 and older browsers! */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%; }

/* Azure styling */
.api-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem; }
  .api-wrapper #emailVerificationControl_label {
    display: none; }
  .api-wrapper .VerificationControl {
    padding-bottom: 1rem;
    border-bottom: 1px solid; }
  .api-wrapper .sendCode {
    margin-bottom: 1rem; }
  .api-wrapper .Password {
    margin-top: 1rem; }
  .api-wrapper ul {
    padding: 0; }
  .api-wrapper img {
    margin-bottom: 2rem; }
  .api-wrapper .error {
    color: #ff0000; }
    .api-wrapper .error p {
      margin-bottom: 0.5rem; }
  .api-wrapper a {
    color: #0a0039;
    display: block;
    margin-bottom: 1rem; }
  .api-wrapper .divider, .api-wrapper .create {
    text-align: center; }
  .api-wrapper .intro {
    text-align: left; }
  @media screen and (max-width: 768px) {
    .api-wrapper {
      width: 80%;
      line-height: 2rem; }
      .api-wrapper img {
        height: 70px; } }
  @media screen and (min-width: 1024px) {
    .api-wrapper form {
      width: 30rem; } }

.error {
  color: #ff0000; }
