/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Remove list styles on ul, ol elements */
ul,
ol,
ul[class],
ol[class] {
  list-style: none; }

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

body {
  background: #fff;
  color: #0a0039;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto; }

header {
  border-bottom: 1px solid #e6e5eb;
  align-self: start;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header img {
    position: absolute; }
  header nav ul {
    display: flex;
    justify-content: flex-end; }
  header nav li {
    padding: 5px 0; }
    header nav li a {
      padding: .6rem 1rem;
      text-decoration: none; }
  header nav button {
    margin-left: 1rem;
    padding: 0.3rem 1rem; }

footer {
  background: #0a0039;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 25px; }

.content-container {
  width: 960px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto; }
  @media only screen and (max-width: 960px) {
    .content-container {
      width: 100%;
      padding: 1rem; } }
