@page "/AddUpdate-Service"

@using OpenReferralPOV.Data
@using OpenReferralPOV.Services

@inject IOpenReferralService ReferralService

<h3>Add Or Update Service</h3>


@code {
    private IEnumerable<Organization> organizations;
    private IEnumerable<Service> services;

    protected override async Task OnInitializedAsync()
    {
        organizations = await ReferralService.GetOrganizationsAsync();
        services = await ReferralService.GetServicesAsync();
    }
}
