@page "/error-page"

<div class="content-container">
    <div class="gridder">
        <h3>Sorry something went wrong.</h3>
        <h2>Please try logging out and login again.</h2>
        <h2>If this continues to happen use the feedback link above.</h2>
    </div>
</div>

@code {

}
