@page "/error-page"

<div class="content-container">
    <div class="gridder">
        <h3>Sorry something went wrong.</h3>
        <h2>If this continues to happen please use the feedback link above.</h2>
    </div>
</div>

@code {

}
