@page "/"

@using Microsoft.Identity.Web
@using Microsoft.Extensions.Options

<AuthorizeView>
    <NotAuthorized>
        <h1>Search for voluntary sector organisations and serivces in your area.</h1>
    </NotAuthorized>


    <Authorized>
            <datalist>

            </datalist>
    </Authorized>
</AuthorizeView>



