@page "/"

<<<<<<< HEAD
<h1>Open Referrals Cast Project</h1>

Siccar integration demo app.
=======
<h1>Catalyst App</h1>
<p>Starting page for Catalyst App.  Something else to be placed here</p>


>>>>>>> master
