@page "/search-organisation/"

@using OpenReferralPOV.Data
@using OpenReferralPOV.Data.Requests
@using OpenReferralPOV.Services
@using Blazored.Typeahead

@inject IOpenReferralOrganisationService OrgService

<div class="content-container">
    <div class="gridder">

        @if (isLoading)
        {
            <h3><em>Loading.</em></h3>
        }
        else
        {
            <SearchOrg RequestSent="@UpdateNewRequest" />

            if (NewOrgRequestCreated)
            {
            <h3><em>Request Sent.</em></h3>
            }
        }
        @if (@httpError != null)
        {
            <warn>There was an error submiting the form</warn>
            <br />
            <warn>@httpError.StatusCode</warn>
        }
    </div>
</div>

@code {

    private bool isLoading = true;
    private IEnumerable<Organization> organizations;
    HttpRequestException httpError { get; set; }
    private bool NewOrgRequestCreated = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            organizations = await OrgService.GetAllOrganisations();
            isLoading = false;
        }
        catch (Exception)
        {
            organizations = new List<Organization>();
            isLoading = false;
        }

    }

    private void UpdateNewRequest(bool NewRequest)
    {
        NewOrgRequestCreated = NewRequest;
    }

}
