<div class="signed-out">
    <div class="yellowbg">
        <div class="content-container">
            <h2>
                Search for voluntary sector organisations and services in your area
            </h2>
            <p>
                If you do not have an account you can <a href="#">create one now</a>
            </p>
            <div class="flexer">
                <div class="buttondiv">
                    <button>Create account</button>
                </div>
                <div>
                    <span>or <a href="MicrosoftIdentity/Account/SignIn">sign in</a> if you have used it before</span>
                </div>

            </div>
        </div>

    </div>

    <div>
        <div class="content-container">
            <h2>Who should use the service?</h2>
            <p>
                Service managers at a voluntary sector  provider who want to be able to publish basic  information about their
                organisation and services so that  prospective referrers are able to find out  more about them.
            </p>
            <p>Social prescribers at a local authorities can search for volutary  sector organisations and services in their locality.</p>
            <hr />
        </div>
    </div>

</div>