<footer>
    <div class="content-container">
        <img src="assets/catalyst_logo_white.svg" alt="Catalyst" height="50">
        <ul>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Accessibility statement</a></li>
            <li><a href="#">Terms &amp; Conditions</a></li>
        </ul>
    </div>
</footer>
