@inherits LayoutComponentBase
<header>
    <div class="content-container">
        <NavMenu />
    </div>
</header>

<main>
    <div class="content-container">
        <AlphaWarning/>
    </div>
    @Body

</main>

<footer>
    <div class="content-container">
        footer here
    </div>
</footer>
