@inherits LayoutComponentBase
<header>    
    <div class="content-container">
        <NavMenu />
    </div>
</header>

<main>
    
        @Body
    
</main>

<footer>
    <div class="content-container">
        footer here
    </div>
</footer>
