<a href="/"><img src="assets/catalyst_logo.svg" alt="Catalyst" height="50" /></a>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav>
        <ul>
            <AuthorizeView>
                <li>
                    <NavLink href="organizations" Match="NavLinkMatch.All">
                        Organizations
                    </NavLink>
                </li>
            </AuthorizeView>
            <AuthorizeView>

                <li>
                    <NavLink href="add-organization">
                        Add Organization
                    </NavLink>
                </li>
            </AuthorizeView>

            <AuthorizeView>

                <li>
                    <NavLink href="myrequests">
                        My Requests
                    </NavLink>
                </li>
            </AuthorizeView>

            <AuthorizeView>

                <li>
                    <NavLink href="playlist">
                        My Playlist
                    </NavLink>
                </li>
            </AuthorizeView>
            <LoginDisplay />
        </ul>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
