
@using OpenReferralPOV.Data
@using OpenReferralPOV.Services

@inject IOpenReferralOrganisationService OrgService
@inject IOpenReferralKeyContactService KeyContactService
@inject NavigationManager NavManager

<AuthorizeView>
    <Authorized>
        <label for="org">Please select an org</label>
        <EditForm Model="keyContact " Context="ctx">

            <select @onchange="DoStuff">
                <option value="-1">Please select</option>
                @foreach (var kc in KeyContacts)
                {
                    <option value="@kc.OrgId">@organizations.FirstOrDefault(x => x.Id == kc.OrgId).Name</option>
                }
            </select>


        </EditForm>
    </Authorized>

    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

@code {

    public Organization organization { get; set; } = new Organization();
    public KeyContact keyContact { get; set; } = new KeyContact();
    private string selected = "";


    private IEnumerable<KeyContact> KeyContacts { get; set; } = new List<KeyContact>();
    private IEnumerable<Organization> organizations = new List<Organization>();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            organizations = await OrgService.GetAllOrganisations();
            KeyContacts = await KeyContactService.GetOrgsICanManage();
        }
        catch(Exception e)
        {
            organizations = new List<Organization>();
            KeyContacts = new List<KeyContact>();
        }
    }


    void DoStuff(ChangeEventArgs e)
    {
        var selected = e.Value.ToString();
        if (selected != "-1")
        {
            NavManager.NavigateTo($"manage-organisation/{e.Value.ToString()}", true);
        }

    }


}

