@using OpenReferralPOV.Data
@using OpenReferralPOV.Data.Enums;

<h3>ServiceTagManager</h3>

<div class="service-tags">

    @if (TagList.ToList().Count != 0)
    {
        <h4>Remove Tags</h4>
        @foreach (var tag in TagList.ToList())
        {

            <span>
                <input type="button" name="Remove from ServiceTags" class="tag minus" value="@((TagEnum)tag)"
                       @onclick="@(e => RemoveFromServiceTags(tag))" />
            </span>

        }

    }
    <h4>Add Tag</h4>
    @foreach (var t in Tags)
    {
        <span>
            <input type="button" name="Add To ServiceTags" class="tag plus" value="@((TagEnum)t)"
                   @onclick="@(e => AddToServiceTags(t))" />
        </span>
    }
</div>
                   

@code {

    [Parameter]
    public List<int> TagList { get; set; } = new List<int>();

    [Parameter]
    public bool readOnly { get; set; } = false; //todo: this might not be required

    [Parameter]
    public EventCallback<List<RegularSchedule>> updateServiceTagList { get; set; }

    public int[] Tags = (int[])Enum.GetValues(typeof(TagEnum));

    private void AddToServiceTags(int tag)
    {
        if (!TagList.Contains(tag))
        {
            TagList.Add(tag);
        }
    }

    private void RemoveFromServiceTags(int tag)
    {
        TagList.Remove(tag);
    }
}