<div id="service-availability">
    <div class="service top">
        <label>Service availability</label>
        <span><i class="far fa-calendar-alt fa-3x"></i></span>
    </div>
    <div class="dayofweek">
        <div class="day">Sunday</div>
        <div class="times">
            <input type="checkbox" class="switch">
            <div class="hours">
                <span><input type="text" size="2" maxlength="2" value="09" /> : <input type="text" size="2" maxlength="2" value="00" /></span>
                TO
                <span><input type="text" size="2" maxlength="2" value="17" /> : <input type="text" size="2" maxlength="2" value="00" /></span>
            </div>
        </div>
    </div>

    <div class="dayofweek">
        <div class="day">Monday</div>
        <div class="times">
            <input type="checkbox" class="switch" checked>
            <div class="hours">
                <span><input type="text" size="2" maxlength="2" value="09" /> : <input type="text" size="2" maxlength="2" value="00" /></span>
                TO
                <span><input type="text" size="2" maxlength="2" value="17" /> : <input type="text" size="2" maxlength="2" value="00" /></span>
            </div>
        </div>
    </div>

    <div class="dayofweek">
        <div class="day">Tuesday</div>
        <div class="times">
            <input type="checkbox" class="switch" checked>
            <div class="hours">
                <span><input type="text" size="2" maxlength="2" value="09" /> : <input type="text" size="2" maxlength="2" value="00" /></span>
                TO
                <span><input type="text" size="2" maxlength="2" value="17" /> : <input type="text" size="2" maxlength="2" value="00" /></span>
            </div>
        </div>
    </div>

    <div class="dayofweek">
        <div class="day">Wednesday</div>
        <div class="times">
            <input type="checkbox" class="switch" checked>
            <div class="hours">
                <span><input type="text" size="2" maxlength="2" value="09" /> : <input type="text" size="2" maxlength="2" value="00" /></span>
                TO
                <span><input type="text" size="2" maxlength="2" value="17" /> : <input type="text" size="2" maxlength="2" value="00" /></span>
            </div>
        </div>
    </div>

    <div class="dayofweek">
        <div class="day">Thursday</div>
        <div class="times">
            <input type="checkbox" class="switch" checked>
            <div class="hours">
                <span><input type="text" size="2" maxlength="2" value="09" /> : <input type="text" size="2" maxlength="2" value="00" /></span>
                TO
                <span><input type="text" size="2" maxlength="2" value="17" /> : <input type="text" size="2" maxlength="2" value="00" /></span>
            </div>
        </div>
    </div>

    <div class="dayofweek">
        <div class="day">Friday</div>
        <div class="times">
            <input type="checkbox" class="switch" checked>
            <div class="hours">
                <span><input type="text" size="2" maxlength="2" value="09" /> : <input type="text" size="2" maxlength="2" value="00" /></span>
                TO
                <span><input type="text" size="2" maxlength="2" value="17" /> : <input type="text" size="2" maxlength="2" value="00" /></span>
            </div>
        </div>
    </div>

    <div class="dayofweek">
        <div class="day">Saturday</div>
        <div class="times">
            <input type="checkbox" class="switch">
            <div class="hours">
                <span><input type="text" size="2" maxlength="2" value="09" /> : <input type="text" size="2" maxlength="2" value="00" /></span>
                TO
                <span><input type="text" size="2" maxlength="2" value="17" /> : <input type="text" size="2" maxlength="2" value="00" /></span>
            </div>
        </div>
    </div>

</div>

@code {

}
