<div class="feedback @messageType">
    @{ 
        if(messageType == "success")
        {
            Icon = "info-circle";
        } else if(messageType == "error")
        {
            Icon = "fa-exclamation-triangle";
        } 
    }
   <i class="fas fa-@Icon fa-2x"></i> <span>@message</span>
</div>

@code {
    [Parameter]
    public string message { get; set; }

    [Parameter]
    public string messageType { get; set; }

    [Parameter]
    public string Icon { get; set; }
}
